.container{
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.header{
    font-family:Roboto;
    font-weight: bold;
    color:red;
}

.input-container{
    height: 70px;
    width:350px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

.labels{
    font-family: Roboto;
    font-weight: bold;
    color: rgb(0, 255, 21);
    font-size: 23px;
}

.input{
    height:25px;
    width:220px;
    border-radius:10px;
    padding:10px;
    background: transparent;
}

.submit-button{
    height:40px;
    width:100px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: skyblue;
    margin-left: 110px;
    cursor: pointer;
}

