.submit-button-update{
    margin-top: 20px;
    height: 40px;
    width: 300px;
    margin-left:50px;
    border-radius: 10px;
    color:#FFFFFF;
    background-color: #17A2B8;
    border: 1px solid transparent;
    cursor: pointer;
    padding-left:10px;
    padding-right:10px;
    font-family: 'Times New Roman', Times, serif;
}